.Header {
    display: flex; justify-content: space-between; align-items: center; margin: 20px auto; max-width: 1000px; width: 100%; height: 70px; box-sizing: border-box; padding: 0 20px; background-color: #1643C1; border-radius: 10px;
}